:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* colors.css */
:root {
  --primary-color: #000000; /* Black */
  --secondary-color: #FFFFFF; /* White */
  --accent-color: #FFD700; /* Gold */
  --background-color: #F8F8F8; /* Light Gray */
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

header, footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

a {
  color: var(--accent-color);
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* border: 2px solid var(--accent-color); */
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  width: 10rem;
  height: 3.6rem;
  transition: background-color 0.3s, color 0.3s;
}

.button-primary:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.button-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  width: 10rem;
  height: 3.6rem;
  transition: background-color 0.3s, color 0.3s;
}

.button-secondary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
